body {
    font-family: monospace;
    background-color: #ada;
    color: #444;
    position: relative;
}

.content-top {
    text-align: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
}

.content-middle {
    text-align: center;
    margin-top: 15em;
}

.nav .title {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1em;
}

.nav .links {
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 1em;
}

.nav .links a {
    margin: 0.5em;
}

.nav .links a:first-child {
    margin-left: 2em;
}

.nav .links a:last-child {
    margin-right: 2em;
}

a {
    font-size: inherit;
    color: #449;
    text-decoration: none;
}

a:hover {
    color: #44e;
}

.quest-list {
    display: inline-block;
    vertical-align: top;
}

.quest-list.front-page {
    max-width: 59em;
    text-align: left;
    margin-top: 2.5em;
}

.user-profile .quest-list {
    margin-top: -1em;
    max-width: 60em;
    text-align: left;
}

.quest {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.5);
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
    text-align: left;
    width: 25em;
    display: inline-block;
}

.quest-type {
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 1.1em;
    background-size: cover;
}

.quest-type.hunt {
    background-image: url('images/diamondSword.png');
}

.quest-type.gather {
    background-image: url('images/diamondPick.png');
}

.quest-text-wrapper {
    display: inline-block;
    vertical-align: top;
}

.quest-name {
    font-size: 1.5em;
    max-width: 13.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quest-description {

}

.quest-progress {
    background-color: rgba(22, 104, 90, 0.3);
    border-top: 1px solid rgba(22, 104, 90, 0.3);
    text-align: left;
    height: 1.25em;
    margin: 0.5em -1em -1em -1em;
    position: relative;
}

.available .quest-progress {
    background-color: rgba(104, 104, 104, 0.3);
    border-top: 1px solid rgba(104, 104, 104, 0.3);
}

.quest-status {
    position: absolute;
    right: 0.25em;
    color: #fff;
}

.quest-progress.none {
    background-color: transparent;
}

.quest-progress-bar {
    background-color: rgba(22, 104, 90, 0.3);
    height: 100%;
}

.template {
    display: none;
}

.character-render {
    margin-bottom: 1em;
    margin-right: 2em;
}

.activity-container {
    margin-bottom: 1em;
    margin-right: 1em;
    max-width: 38em;
    display: inline-block;
    vertical-align: top;
}

.activity-list {
    vertical-align: top;
    text-align: left;
    display: inline-block;
}

.profile-name {
    text-align: left;
    background-color: rgba(0,0,0,0.15);
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 7px;
}

.user-search {
    position: relative;
    max-width: 39em;
    margin: 1em auto;
    border-radius: 7px;
    background: rgba(255,255,255,0.7);
    padding: 0.5em;
}

.user-search input {
    background: none;
    font-size: 1.5em;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
    width: 100%;
}

.user-search input:focus {
    outline: none;
}

.user-search .search-button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-family: inherit;
    color: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: inherit;
    background: rgba(0,0,0,0.2);
    boder: 1px solid rgba(0,0,0,0.2);
}
